* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.top-bar {
    background-color: #003366; /* Azul oscuro para la franja */
    height: 18px; /* Ajusta la altura según sea necesario */
    width: 100%; /* Ancho completo */
    clip-path: polygon(-10% 0, 100% 0, 98% 100%, -10% 100%); /* Forma con extremos diagonales */
}

.navbar {
    background-color: #ffffff;
    color: white;
    padding: 1.9em;
    display: flex;
    align-items: center;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3); /* Agrega sombra para profundidad */
    margin-top: 5px; /* Espacio debajo de la franja azul */
}

.navbar .logo img {
    height: 80px; /* Ajusta el tamaño según sea necesario */
    margin-left: 200px; /* Ajusta según sea necesario */
    margin-top: 2px;
}

.nav-links {
    list-style: none;
    display: flex;
    flex-grow: 1;
    justify-content: center; /* Centra los enlaces */
    margin-top: 0; /* Elimina margen superior para alinear bien con el logo */
}

.nav-links li {
    margin-left: 1.5em;
}

.nav-links a {
    color: rgb(129, 129, 129);
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bolder;
    letter-spacing: 0.05em; /* Más separación entre letras */
    transition: color 0.3s ease, background-color 0.3s ease; /* Efecto suave para color de fondo */
    padding: 0.5em; /* Espacio interno para el efecto de fondo */
    border-radius: 4px; /* Bordes redondeados */
}

.nav-links a:hover,
.nav-links a.selected {
    
    color: #003366; /* Azul oscuro para el fondo */
}

.content {
    padding: 2em;
    text-align: center;
}

.cuadros-container {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2em;
}

.cuadro {
    background-color: #f1f1f1; /* Color de fondo para los cuadros */

    border-radius: 10px;
    width: 22%;
    text-align: center;
    margin-bottom: 2em; /* Espacio debajo de cada cuadro */
}

.cuadro img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 1.5em; /* Aumenta el margen inferior de la imagen */
}

.cuadro h2 {
    margin-bottom: 0.5em; /* Aumenta el espaciado debajo del título */
}

.cuadro h3 {
    margin-top: 0.5em; /* Aumenta el espaciado encima del subtítulo */
    margin-bottom: 1.5em; /* Aumenta el espaciado debajo del subtítulo */
    color: #57575a;
}

.aclaracion {
    margin: 2em 0;
    font-size: 1.2em;
}

.aclaracion p {
    margin: 0; /* Elimina márgenes predeterminados */
}

.aclaracion p:first-of-type {
    margin-bottom: 5px; /* Espacio debajo del primer párrafo */
}

.aclaracion p:nth-of-type(2) {
    margin-bottom: 15px; /* Espacio debajo del segundo párrafo */
}

.aclaracion p:nth-of-type(3) {
    margin-top: 20px; /* Espacio encima del tercer párrafo */
}


.vehiculos-title {
    margin: 2em 0;
}

.vehiculos-title h2 {
    position: relative;
    display: inline-block;
    font-size: 1.5em;
    color: #003366;
}

.vehiculos-title h2::before,
.vehiculos-title h2::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 40%;
    height: 1px;
    background: #003366;
    z-index: -1;
}

.vehiculos-title h2::before {
    left: 0;
}

.vehiculos-title h2::after {
    right: 0;
}

.vehiculos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1.6em;
    margin-bottom: 20px;
}

.vehiculo {
    width: 45%;
    border-radius: 10px;
    text-align: center;
    font-size: 1.3rem;
    background-color: rgba(200, 200, 200, 0.3); /* Fondo gris con opacidad */
    padding: 0.5em;
}


.title-container {
    position: relative;
    text-align: center;
    margin: 2em 0; /* Ajusta el espacio según sea necesario */
}

.title-container::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50%;
    height: 2px; /* Grosor de la línea */
    background-color: #003366; /* Color azul de la línea */
    z-index: 0;
}

.title-container h2 {
    position: relative;
    display: inline-block;
    background: #fff; /* Fondo blanco para el título */
    padding: 0 1em; /* Espacio alrededor del título */
    z-index: 1; /* Asegura que el texto esté sobre la línea */
    color: #003366;
}

footer {
    background-color: #003366; /* Azul oscuro para el fondo del footer */
    color: white; /* Texto blanco */
    padding: 1em 0; /* Espacio alrededor del contenido */
    text-align: center; /* Centra el texto */
    position: relative; /* Posición relativa para el contenido del footer */
    bottom: 0; /* Asegura que el footer esté en la parte inferior */
    width: 100%; /* Asegura que el footer ocupe todo el ancho */
    padding-top: 50px;
    padding-bottom: 20px;
}

.footer-content {
    display: flex;
    flex-direction: column; /* Disposición vertical de los elementos */
    align-items: center; /* Centra los elementos horizontalmente */
}

.footer-text {
    margin-top: -20px;
    margin-bottom: 10px; /* Espacio debajo del texto */
    font-size: 1.4em
}

.footer-social {
    display: flex;
    flex-direction: column; /* Disposición vertical del ícono y el texto */
    align-items: center; /* Centra los elementos horizontalmente */
}

.social-link {
    display: flex;
    align-items: center; /* Centra verticalmente el ícono y el texto */
    color: white; /* Asegura que el texto sea blanco */
    text-decoration: none; /* Elimina el subrayado del enlace */
}

.footer-icon {
    width: 24px; /* Ajusta el tamaño del ícono según sea necesario */
    height: auto; /* Mantiene la proporción del ícono */
    margin-right: 0.5em; /* Espacio entre el ícono y el texto */
}

.footer-social p {
    margin: 0; /* Elimina los márgenes del párrafo */
}

.fixed-icons {
    position: fixed; /* Fija el contenedor en la esquina */
    bottom: 20px; /* Espacio desde el borde inferior */
    right: 20px; /* Espacio desde el borde derecho */
    display: flex; /* Alinea los íconos horizontalmente */
    flex-direction: column; /* Disposición vertical de los íconos */
    gap: 10px; /* Espacio entre los íconos */
    z-index: 1000; /* Asegura que los íconos estén encima de otros elementos */
}

.icon-link {
    display: flex; /* Centra el ícono */
    align-items: center;
    justify-content: center;
    background-color: #ffffff; /* Fondo blanco para los íconos */
    border-radius: 50%; /* Forma circular */
    padding: 10px; /* Espacio interno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para el efecto de profundidad */
}

.fixed-icon {
    width: 40px; /* Tamaño del ícono */
    height: auto; /* Mantiene la proporción del ícono */
}

.icon-link:hover {
    background-color: #f0f0f0; /* Color de fondo al pasar el ratón */
}

.page-title {
    margin-top: 50px;;
    color: #003366; /* Color azul para el fondo del título */
    padding: 1em; /* Espacio alrededor del título */
    text-align: center; /* Centra el texto */
}

.page-title p {
    margin: 0; /* Elimina el margen predeterminado */
    font-size: 3em; /* Tamaño del texto */
    font-weight: 700;
}

.bordered-container {
    border-top: 8px solid #003366; /* Borde azul solo en la parte superior */
    padding: 10px; /* Espacio alrededor del contenido */
    border-radius: 5px; /* Bordes redondeados opcionales */
    background-color: rgba(236, 230, 230, 0.3); /* Fondo gris con opacidad */
    margin: 10px auto; /* Espacio arriba y abajo, y centrado horizontalmente */
    width: 80%; /* Ajusta el ancho según tus necesidades */
    max-width: 1000px; /* Máximo ancho opcional para pantallas grandes */
    padding-bottom: 20px;
    margin-bottom: 60px;
}


.bordered-container p{
    color: #000;
    margin-top: 10px;
}

.footer-contact {
    position: absolute;
    right: 10%; /* Ajusta la posición izquierda según sea necesario */
    text-align: right;
    margin-top: -30px;
}

.footer-contact .contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
}

.footer-contact .contact-item p {
    margin: 0;
    margin-left: 0.5em;
}

.footer-contact a {
    color: white; /* Asegura que el texto sea blanco */
    text-decoration: none; /* Elimina el subrayado del enlace */
}

.contact-icon {
    width: 20px; /* Ajusta el tamaño del ícono */
    height: 20px; /* Ajusta el tamaño del ícono */
    margin-right: 0.5em; /* Espacio entre el ícono y el texto */
}

.navbar-mobile {
    display: none;
}

/*  mobile */
@media screen and (max-width: 768px) {

    .footer-contact {
        position: relative;
        margin-top: 10px;
        right: 0px;
        padding-bottom: 0px;
    }

    .footer-text {
        margin-top: 0px;
        font-size: 1.1rem;
    }

    footer {
        padding-top: 30px;
    }

    .footer-content p {
        font-size: 1.1em;
    }

    .card-container {
        margin-bottom: 0px;
        grid-template-columns: repeat(1, 1fr);
    }

    .solution-description {
        font-size: 1.2em !important;
        ;
    }

    .solution-title {
        font-size: 2.3em;
    }

    .info-box {
        position: relative;
        transform: none;
        width: 100%;
        left: 0px;
        height: auto;
    }

    .info-title {
        font-size: 1.9em;
        margin-top: 20px;
    }

    .info-box p {
        padding-top: 10px;
        padding-bottom: 15px;
    }

    .navbar {
        display: none;
    }

    .navbar-mobile {
        display: block;
    }

    .navbar-mobile {
        box-shadow: -1px -6px 18px 3px rgba(0, 0, 0, 0.52);
        -webkit-box-shadow: -1px -6px 18px 3px rgba(0, 0, 0, 0.52);
        -moz-box-shadow: -1px -6px 18px 3px rgba(0, 0, 0, 0.52);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
        color: white;
    }

    .navbar-mobile input[type="checkbox"] {
        display: none;
    }

    .navbar-mobile label {
        display: block;
        cursor: pointer;
        padding: 10px;
        width: 45px;
        font-size: 26px;
        text-align: center;
        color: #000;
    }


    .navbar-mobile .menu-items {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .navbar-mobile input[type="checkbox"]:checked~.menu-items {
        display: flex;
    }

    .navbar-mobile .menu-item {
        padding: 10px;
        /*  background-color: #003366; */
        border-bottom: 1px solid #005599;
        width: 100%;
    }

    .navbar-mobile .menu-item a {
        color: white;
        text-decoration: none;
        color: #000;

    }

    .navbar-mobile .menu-item a:hover {
        color: #cce6ff;
    }

    .navbar-header {
        display: flex;
        align-items: center;
        width: 100%;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .logo {
        height: 40px;
    }

    .banner-image {
        filter: blur(0px);
    }

    .cuadros-container {
        margin-top: 10px;
        flex-direction: column;
        margin-bottom: 2em;
    }

    .cuadro{
        width: 100%;
    }
}